<nav class="">
    <div class="navbar #757575 grey darken-1 nav-wrapper">
        <a href="#" class="brand-logo left">Back end for gallery</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">

        </ul>
    </div>
</nav>